.singleSeat {
  position: fixed;
  top: 21%;
  left: 30%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
  cursor: grab;
}

.leftSeat {
  position: fixed;
  top: 21%;
  left: 23%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
  cursor: grab;
}

.rightSeat {
  position: fixed;
  top: 20%;
  left: 37%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
  cursor: grab;
}

.singleSeatleftSide {
  position: fixed;
  top: 31%;
  left: 23%;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
  cursor: grab;
}

.cornerSeat {
  position: fixed;
  top: 22%;
  left: 23%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
  cursor: grab;
}

.leftSeatleftSide {
  position: fixed;
  top: 40%;
  left: 23%;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
  cursor: grab;
}

.deleteButton {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;
  color: white;
  font-weight: bolder;
  cursor: grab;
}

@media(max-width: 1200px) {
  .singleSeat {
    top: 24%;
    left: 31%;
    width: 70px;
    height: 70px;
  }

  .leftSeat {
    top: 24%;
    left: 24%;
    width: 70px;
    height: 70px;
  }

  .rightSeat {
    top: 23%;
    left: 38%;
    width: 70px;
    height: 70px;
  }

  .singleSeatleftSide {
    top: 32%;
    left: 24%;
    width: 70px;
    height: 70px;
  }

  .cornerSeat {
    top: 24%;
    left: 24%;
    width: 70px;
    height: 70px;
  }

  .leftSeatleftSide {
    top: 40%;
    left: 24%;
    width: 70px;
    height: 70px;
  }

  .deleteButton {
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
}

@media(max-width: 1500px) {
  .singleSeat {
    width: 80px;
    height: 80px;
  }

  .leftSeat {
    left: 25%;
    width: 80px;
    height: 80px;
  }

  .rightSeat {
    width: 80px;
    height: 80px;
  }

  .singleSeatleftSide {
    left: 25%;
    width: 80px;
    height: 80px;
  }

  .cornerSeat {
    left: 25%;
    width: 80px;
    height: 80px;
  }

  .leftSeatleftSide {
    left: 25%;
    width: 80px;
    height: 80px;
  }

}