@media (min-width: 999px) {
  .threeAndMenu {
    display: flex;
  }

  .webgl {
    margin-left: 50px;
    width: 60%;
    height: 60vh;
  }
}

@media(max-width: 999px) {
  body {
    display: none;
  }
}